@charset "UTF-8";
body {
    margin: 0;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.top {
    height: 50px;
}
.glheader {
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    &__title {
        color: #fff;
        margin: 0;
        height: 100px;
        background-color: #ff6622;

    }
}


.glmain {
    background-color: #555;
    height: 2000px;
    &__title {
        color: #fff;
        margin: 0;
    }
    &__para {
        margin: 0;
        color: #fff;
    }
}